In [3]:
import pandas as pd
import numpy as np
import os
import pickle_funcs as pk
import helpers
from matplotlib import pyplot
import sqlite3
out_path = "C:/Users/dasen/Google Drive/SYNC TO PC/"
downloads = "C:/Users/dasen/Downloads/"

# Description

Exploration and setup of data for [kaggle project.](https://www.kaggle.com/c/zillow-prize-1/data)

I want to create a database for this project so that all data can be in a centralized location.

# Load Data

In [4]:
# create list of filenames in my downloads folder
files = [x for x in list(os.walk(downloads))[0][2] if '.csv' in x or '.xlsx' in x]
files

['data_dictionary.xlsx',
 'properties.csv',
 'sample_submission.csv',
 'train.csv']

In [5]:
def write(table_name, df):
    """Writes a dataframe to the database"""
    conn = sqlite3.connect(out_path + 'data998_database.sqlite3')
    df.to_sql(table_name, conn, if_exists='replace')
    conn.close()

## Review and Write Data Dictionary

In [6]:
files[0]

'data_dictionary.xlsx'

In [7]:
# load and view
df = pd.read_excel(downloads + files[0])
df.columns = ['feature', 'description']
df.head(10)

,feature,description
0,'airconditioningtypeid',Type of cooling system present in the home (i...
1,'architecturalstyletypeid',"Architectural style of the home (i.e. ranch, ..."
2,'basementsqft',Finished living area below or partially below...
3,'bathroomcnt',Number of bathrooms in home including fractio...
4,'bedroomcnt',Number of bedrooms in home
5,'buildingqualitytypeid',Overall assessment of condition of the buildi...
6,'buildingclasstypeid',"The building framing type (steel frame, wood f..."
7,'calculatedbathnbr',Number of bathrooms in home including fractio...
8,'decktypeid',Type of deck (if any) present on parcel
9,'threequarterbathnbr',Number of 3/4 bathrooms in house (shower + si...

In [8]:
# write data dictionary 
write('data_dictionary', df)

## Review and Write Data Dictionary

In [9]:
files[1]

'properties.csv'

After first loading this data, I received this error: 

```
<string>:2: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False
```

Here are the descriptions of each of these columns: 

```
count     69014
unique        1
top        True
freq      69014
Name: hashottuborspa, dtype: object

count     2972940
unique        240
top          0100
freq      1153896
Name: propertycountylandusecode, dtype: object

count     1978629
unique       5638
top          LAR1
freq       275029
Name: propertyzoningdesc, dtype: object

count     5163
unique       1
top       True
freq      5163
Name: fireplaceflag, dtype: object

count     56462
unique        1
top           Y
freq      56462
Name: taxdelinquencyflag, dtype: object
```

For now, I'm just going to load these columns as string columns by using the `dtype` argument in the `read_csv` method.

In [27]:
# dict to set types of columns 
types = {22: str, 32: str, 34: str, 49: str, 55: str}

In [28]:
%%time
# load and view 
df = pd.read_csv(downloads + files[1], dtype=types)

Wall time: 20.6 s

In [29]:
df.shape

(2985217, 58)

In [31]:
df.sample(10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
845121,14364431,NaN,NaN,NaN,2.5,4.0,NaN,NaN,2.5,NaN,...,NaN,NaN,172329.0,585582.0,2015.0,413253.0,5883.40,NaN,NaN,6.059052e+13
2516378,11335630,NaN,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,165090.0,177134.0,2015.0,12044.0,2033.72,NaN,NaN,6.037920e+13
3183,11238420,1.0,NaN,NaN,2.0,4.0,NaN,4.0,2.0,NaN,...,NaN,NaN,139100.0,169600.0,2015.0,30500.0,2834.07,NaN,NaN,6.037911e+13
381164,12902921,NaN,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,110769.0,371067.0,2015.0,260298.0,4628.62,NaN,NaN,6.037401e+13
601308,12207305,NaN,NaN,NaN,2.0,3.0,NaN,7.0,2.0,NaN,...,NaN,NaN,54670.0,273353.0,2015.0,218683.0,4641.34,NaN,NaN,6.037238e+13
2389333,13073140,1.0,NaN,NaN,3.0,3.0,NaN,4.0,3.0,NaN,...,NaN,NaN,186100.0,513800.0,2015.0,327700.0,6000.58,NaN,NaN,6.037403e+13
1197386,12515269,NaN,NaN,NaN,3.0,3.0,NaN,7.0,3.0,NaN,...,NaN,NaN,135563.0,165320.0,2015.0,29757.0,2170.52,NaN,NaN,6.037574e+13
569819,11704868,NaN,NaN,NaN,1.0,2.0,NaN,7.0,1.0,NaN,...,NaN,NaN,135335.0,418325.0,2015.0,282990.0,5157.29,NaN,NaN,6.037232e+13
2680109,11491955,NaN,NaN,NaN,6.0,9.0,NaN,7.0,6.0,NaN,...,NaN,NaN,79943.0,122756.0,2015.0,42813.0,3043.03,NaN,NaN,6.037621e+13
966231,12279047,1.0,NaN,NaN,4.0,4.0,NaN,4.0,4.0,NaN,...,NaN,NaN,122500.0,204000.0,2015.0,81500.0,4387.76,NaN,NaN,6.037543e+13

In [32]:
# write data dictionary 
write('properties', df)